@import '../../../scss/variables.scss';
.artistResult{
    display: flex;
    margin-bottom: 20px;
    img{
        margin-right: 20px;
        width: 35px;

    }
    .text{
        text-align: left;
    }
}