@import './variables.scss';
body{
    background-color: $color-night;
}

/* Resets */

figure{
    margin: 0;
}
input{
    background-color: transparent;
    padding: 5px;
    border: solid 1px $color-gray;
    display: block;
    border-radius: 5px;
    width: 100%;
    @include transition();
    &:focus{
        outline: none;
        border-color: $color-dark-aqua;
    }
}
button{
    background: none;
    border: 0;
    cursor: pointer;
    &:focus{
        outline: none;
    }

}
hr{
    border-color:$color-night-aqua;
    margin:{
        top:40px;
        bottom: 40px;
    }
    
    
    
}
/* Containers */
.container{
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: {
        top: 50px;
        bottom: 50px;
    };
}

@media #{$n-tablet}{
    .container{
        width: calc(100% - 180px);
        margin: 0 auto;
        padding: {
            top: 100px;
            bottom: 100px;
        };
    }
}
@media #{$n-portrait}{
    .container{
        width: 980px;
        margin: 0 auto;
    }
}
@media #{$n-desktop}{
    
}
@media #{$n-full}{
    
}
